<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">FShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/womanpage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menpage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kidspage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/homepage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/techpage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Tech</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Search</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/wishlistpage" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"><i class="fa fa-heart-o" style="font-size:18px;margin-right: 5px;"></i>Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopingcart" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"><i class="fa fa-shopping-cart" style="font-size:20px;margin-right: 5px;"></i>Cart</a>
          </li>
          <li class="nav-item" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-user-circle-o" style="font-size:18px;margin-right: 5px;"></i>Account</button>
          </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 123px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up / Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <a routerLink="/signup" data-bs-dismiss="modal" type="button" class="btn btn-primary">Sign Up</a>
        <a routerLink="/login" data-bs-dismiss="modal" type="button" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>

